<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lobby</title>
    <style>
        .text-column {
          width: 70%;
          float: left;
          margin: 0;
        }
        .comments-column {
          width: 30%;
          float: right;
          margin: 0;
        }
        .highlight {
          background-color: yellow;
        }
        .comments-column div {
          border: 1px solid black;
          padding: 10px;
        }
      </style>
</head>
<body>
    <h1>Let's chat!</h1>
    <div id="passage">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            velit ipsum, pulvinar vel nisl vel, congue fringilla elit.
        </p>
        <button id="highlight-button">Highlight</button>
        <button id="cancel-highlight-button">Cancel Highlight</button>
    </div>
    <div class="comments-column">

    </div>

    <form id="form">
        <input type="text" name="message"/>
    </form>
    
    <div id="messages">

    </div>

    <script type="text/javascript">
      var highlightCounter = 1;
      const highlightButton = document.querySelector("#highlight-button");
      const cancelHighlightButton = document.querySelector(
        "#cancel-highlight-button"
      );
      const paragraphs = document.querySelectorAll("p");

      const commentsColumn = document.querySelector(".comments-column");

      highlightButton.addEventListener("click", function() {
        const selectedText = window.getSelection().toString();
        if (selectedText) {
          paragraphs.forEach(function(paragraph) {
            let text = paragraph.innerHTML;
            const newHTML = text.replace(
              selectedText,
              `<span class="highlight" id="${highlightCounter}" onclick="addComment('${highlightCounter}')">${selectedText}</span>`
            );
            paragraph.innerHTML = newHTML;
            highlightCounter++;


            chatSocket.send(JSON.stringify({
                'type': 'highlight',
                'article': newHTML,
                'highlightCnt': highlightCounter,
            }))
          });
        }
      });

      cancelHighlightButton.addEventListener("click", function() {
        paragraphs.forEach(function(paragraph) {
          paragraph.innerHTML = paragraph.textContent;
          const text = paragraph.textContent;
          chatSocket.send(JSON.stringify({
            'type': 'highlight',
            'article': text,
            'highlightCnt': 1,
          }))
        });
        commentsColumn.innerHTML = "";
        highlightCounter = 1;
      });

      function addComment(id) {
        var commentDiv = document.createElement("div");
        commentDiv.id = `comment${id}`;
        commentDiv.innerHTML = `
          <textarea placeholder="Enter your comment here"></textarea>
          <button onclick="submitComment('${id}')">Submit</button>
        `;
        commentsColumn.appendChild(commentDiv);
      }

      function submitComment(id) {
        var commentDiv = document.getElementById(`comment${id}`);
        console.log(commentDiv)
        var comment = commentDiv.querySelector("textarea").value;
        var highText = document.getElementById(id).innerText;
        commentDiv.innerHTML = `<span style="font-size: 10px">Note for "${highText}:"</span><br>${comment}`;

        chatSocket.send(JSON.stringify({
          'type': 'note',
          'comment': comment,
          'id': id,
        }))
      }




        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if (data.type === 'chat') {
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                        <p>${data.message}</p>
                    </div>`)
            }
            else if (data.type === 'article') {
                console.log('received article!')
                paragraphs.forEach(function(paragraph) {
                let text = paragraph.innerHTML;
                paragraph.innerHTML = data.article;
                highlightCounter = data.highlightCnt;
                console.log(highlightCounter)
              });
            }
            else if (data.type === 'note') {
              console.log('received note!');
              const id = data.id;
              var commentDiv = document.getElementById(`comment${id}`)
              if (!commentDiv) {
                var highText = document.getElementById(id).innerText;
                commentDiv = document.createElement("div");
                commentDiv.id = `comment${id}`;
                commentDiv.innerHTML = `<span style="font-size: 10px">Note for "${highText}:"</span><br>${data.comment}`;
                commentsColumn.appendChild(commentDiv);
              }
            }
        }


        let form = document.getElementById('form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'type': 'chat',
                'message': message
            }))
            form.reset()
        })

    </script>
</body>
</html>